* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
.contain {
  /* border: 1px solid red; */
  overflow: hidden;
  position:relative;
  padding: .8rem 0;
}
.contain::before, .contain::after {
  content: '';
  display: block;
  position: absolute;
  width: 3rem;
  top:0;
  bottom: 0;
  z-index: 10;
}
.contain::before {
  left: 0;
  background-image: -webkit-linear-gradient(to left, rgba(255,255,255, 0.2), #fff);
  background-image: linear-gradient(to left, rgba(255,255,255, 0.2), #fff);
}
.contain::after {
  right: 0;
  background-image: -webkit-linear-gradient(to right, rgba(255,255,255, 0.2), #fff);
  background-image: linear-gradient(to right, rgba(255,255,255, 0.2), #fff);
}
.conNum {
  text-align: center;
  font-size: .19rem;
  color: #333;
}
.conNum input[type='text'] {
  border: none;
  text-align: right;
  width: 1.37rem;
  font-size: .64rem;
  color: #FF7B02;
  font-weight: bold;
}
.conNum input[type='text']  + span {
  color: #999;
}
.scale-nav {
  width: 100%;
  position: relative;
  /* box-shadow: -1px 1px 0 black; */
}
.scale-nav::before {
  content: '';
  display: block;
  position: absolute;
  top: -.25rem;
  left: 0;
  bottom: 0;
  border-left: .08rem solid #FF7B02;
  transform: translateX(-50%);
  z-index: 50;
}
.scale {
  display: flex;
  /* -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); */
  margin-top: .6rem;
  transform: translateX(0);
  transition: all 0s linear;
}
.scale li {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid red;
  position: relative;
}
.scale li em {
  position: absolute;
  font-size: .12rem;
  color: #999;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 150%);
}
.scale li span {
  width: .2rem;
  height: .19rem;
  box-shadow: -1px 1px 0px #999;
  flex-shrink: 0;
}
.scale li:not(:first-child) span:first-child {
  height: .53rem;
}
.food-left {
  position:relative;
  overflow:hidden;
}
.food-left li{
  height: 6rem;
  border: 1px solid red;
}
