{
  "globals": {
    "location": true,
    "_": true,
    "$": true,
    "sessionStorage": true,
    "localStorage": true,
    "Image": true,
    "atob": true,
    "FormData": true,
    "Blob": true,
    "FileReader": true
  },
  "extends": ["standard", "standard-jsx"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true, "allowShortCircuit": true, "allowTernary": true }],
    "no-self-assign": ["error", {"props": false}]
  }
}
