body, ul, li, p, div, em, span {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
.securityDetails {
  padding: .53rem;
  background: #fff;
}
.securityDetails > ul > li {
  border-bottom: 1px solid #ddd;
}
.securityDetails > ul > li:last-of-type {
  border-bottom: none;
}
.securityDetails > ul > li > p:first-of-type {
  font-size: .43rem;
  color: #333;
  font-weight: bold;
  line-height: .43rem;
  padding: .64rem 0 .32rem .69rem;
  position: relative;
}
.securityDetails > ul > li > p:first-of-type::before {
  content: '';
  display: block;
  position: absolute;
  width: .16rem;
  height: .16rem;
  border-radius: 50%;
  background: #FEA419;
  top: 50%;
  left: .11rem;
  transform: translateY(50%);
}
.securityDetails > ul > li > p:last-of-type {
  font-size: .37rem;
  color: #666;
  line-height: .67rem;
  padding-bottom: .43rem;
}
