body, ul, li, p, div, em, span {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
.schemeCon {

}
.roleTab {
  overflow-x: hidden;
  background: #FF9F48;
}
.roleTab > div:first-child {

  padding: .64rem .53rem 0;
}
.schemeCon .feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.schemeCon .feedback > a {
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.schemeCon .feedback > a:first-of-type {
  color: #FF7B02;
  padding: .19rem .32rem;
  background: #fff;
  border-radius: 1.07rem;
  box-shadow: 0 .05rem .43rem 0 #FF7900;
}
.schemeCon .feedback > a:first-of-type img:first-of-type {
  width: .43rem;
  height: .43rem;
}
.schemeCon .feedback > a:first-of-type img:last-of-type {
  width: .37rem;
  height: .37rem;
}
.schemeCon .feedback > a:first-of-type span {
  margin: 0 .27rem;
  font-size: .4rem;
}
.schemeCon .feedback > p:last-of-type a {
  font-size: .37rem;
  color: #fff;
}
.schemeCon .roleChose {

}
.schemeCon .roleChose ul {
  display: flex;
  flex-direction: row;
  padding: .67rem 0 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
.schemeCon .roleChose ul > li {
  flex: 1;
  text-align: center;
  margin: .11rem .37rem 0;
  padding: 0 .11rem;
  position: relative;
}
.schemeCon .roleChose ul > li span {
  display: block;
  width: 1.33rem;
  height: 1.33rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto .27rem;
}
.schemeCon .roleChose ul > li span img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.schemeCon .roleChose ul > li span img:last-of-type {
  display: none;
}
.schemeCon .roleChose ul > li.active span img {
  box-shadow: 0 0 0 .09rem #FFD5B7;
}
.schemeCon .roleChose ul > li.active span img:first-of-type {
  display: none;
}
.schemeCon .roleChose ul > li.active span img:last-of-type {
  display: block;
  transform: scale(1.11);
}
.schemeCon .roleChose ul > li.active:after {
  content: '';
  display: block;
  width: .35rem;
  height: .35rem;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}
.schemeCon .roleChose ul > li em {
  font-size: .37rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: .43rem;
  display: block;
}
/* 标签 */
.schemeCon .label {
  margin: 0 .53rem .75rem;
  padding: .43rem 0 .53rem;
  border-radius: .21rem;
  box-shadow: 0 .05rem .43rem 0 #FF8D26;
  display: flex;
  flex-direction: row;
  background: #fff;
}
.schemeCon .label li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schemeCon .label li:nth-of-type(2) {
  position: relative;
}
.schemeCon .label li:nth-of-type(2)::before, .schemeCon .label li:nth-of-type(2)::after {
  content: '';
  display: block;
  position: absolute;
  height: .8rem;
  border-left: 1px solid #ddd;
  top: 50%;
  transform: translateY(-50%);
}
.schemeCon .label li:nth-of-type(2)::before {
  left: 0;
}
.schemeCon .label li:nth-of-type(2)::after {
  right: 0;
}
.schemeCon .label li span {
  padding-bottom: .21rem;
  color: #333;
  font-size: .37rem;
}
.schemeCon .label li em {
  color: #999;
  font-size: .32rem;
}
/* 方案 */
.schemeCon .programme {
  margin-top: .32rem;
  padding: .64rem .53rem 0;
  background: #fff;
}
.schemeCon .programmeTit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: .53rem;
  border-bottom: 1px solid #ddd;
}
.schemeCon .programmeTit > h1 {
  margin: 0;
  color: #333;
  font-size: .51rem;
  font-weight: bold;
}
.schemeCon .programmeTit > span {
  color: #666;
  font-size: .37rem;
}
.schemeCon .programmeTit > span em {
  color: #FF7B02;
  font-size: .64rem;
  font-weight: bold;
  padding: 0 .11rem;
}
.schemeCon .actuary {
  display: flex;
  flex-direction: row;
  padding-bottom: .75rem;
}
.schemeCon .actuary li {
  flex: 1;
  text-align: center;
  color: #666;
  padding-top: .53rem;
}
.schemeCon .actuary li img {
  width: 1.2rem;
  height: auto;
  display: block;
  margin: 0 auto;
}
.schemeCon .actuary li span {
  display: block;
  margin: .21rem 0;
  font-size: .53rem;
  font-weight: bold;
}
.schemeCon .actuary li span em {
  font-size: .37rem;
  padding-left: .08rem;
}
.schemeCon .actuary li p {
  font-size: .37rem;
}
.schemeCon .plan {
  padding: .32rem .53rem 0;
  margin-top: .32rem;
  background: #fff;
}
.schemeCon .plan .planTit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: -.05rem;
  background: #fff;
  margin: 0 -.53rem;
  padding: .32rem .53rem 0;
}
.schemeCon .plan .planTit li {
  width: 2.13rem;
  text-align: center;
  color: #666;
  font-size: .43rem;
  position: relative;
  padding-bottom: .29rem;
}
.schemeCon .plan .planTit li.active {
  color: #FF7B02;
}
.schemeCon .plan .planTit li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: .05rem;
  background: #FF7B02;
  border-radius: 1.07rem;
}
.schemeCon .planCon > li {
  display: none;
}
.schemeCon .planCon > li.active {
  display: block;
}
.schemeCon .planCon li > span {
  display: block;
  font-size: .43rem;
  color: #333;
  padding: .75rem 0 0;
}
.schemeCon .planCon li > span em {
  font-size: .43rem;
  padding-left: .16rem;
  color: #FF7B02;
}
.schemeCon .introduce {
  font-size: .37rem;
  color: #666;
  line-height: .53rem;
  margin: .35rem 0;
  letter-spacing: 1px;
}
.schemeCon .introduce + a {
  display: inline-block;
  color: #4A90E2;
  font-size: .37rem;
}
.schemeCon .recommendation {
  padding-bottom: .96rem;
}
.schemeCon .recommendation > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: .96rem;
  border-top: 1px solid #ddd;
  margin: .75rem 0 .53rem;
}
.schemeCon .recommendation > div > h1 {
  margin: 0;
  font-size: .64rem;
  color: #333;
  padding-left: .43rem;
  border-left: .11rem solid #FF9F48;
  font-weight: bold;
}
.schemeCon .recommendation > div > p {
  font-size: .37rem;
  color: #666;
}
.schemeCon .recommendation > div > p span {
  font-size: .64rem;
  color: #FF7B02;
  font-weight: bold;
  margin: 0 .21rem;
}
.schemeCon .RecomList {
  background: #fff;
  box-shadow: .05rem .05rem .64rem 0 #E7DDD2;
  border-radius: .21rem;
}
.schemeCon .RecomList > li {
  padding: .85rem .53rem .64rem;
  border-bottom: 1px solid #ddd;
}
.schemeCon .RecomList > li > a > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: .53rem;
}
.schemeCon .RecomList > li > a > div h1 {
  margin: 0;
  font-size: .48rem;
  color: #333;
  max-width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schemeCon .RecomList > li >  a > div span {
  font-size: .37rem;
  color: #666;
}
.schemeCon .RecomList > li >  a > div span em {
  display: inline-block;
  font-size: .64rem;
  color: #FF7B02;
  font-weight: bold;
  padding-right: .11rem;
  max-width: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.schemeCon .RecomList > li:last-of-type {
  margin: 0;
  padding: .53rem 0;
  text-align: center;
  border-bottom: none;
}
.schemeCon .RecomList > li:last-of-type a {
  font-size: .37rem;
  color: #4A90E2;
}
.schemeCon .RecomList > li > a > p {
  background: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .43rem 0;
  border-radius: .11rem;
}
.schemeCon .RecomList > li > a > p span {
  flex: 1;
  text-align: center;
  font-size: .48rem;
  color: #333;
  font-weight: bold;
}
.schemeCon .RecomList > li > a > p span em {
  display: block;
  font-size: .32rem;
  color: #999;
  margin-top: .32rem;
}
/* 刚需版 */
.justNeed {
  background: #fff;
  margin: .27rem 0 1.87rem;
  padding: .75rem .53rem 0;
}
.justNeed .justPro {
  display: block;
  height: 1.47rem;
  line-height: 1.47rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2.67rem;
  font-size: .37rem;
  color: #666;
  font-weight: bold;
  margin-bottom: .75rem;
}
