html, body, div, ul, li, span, em, h1, h2, h3, p {
  margin:0;
  padding: 0;
  font-style: normal;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.analysis{
  padding: .75rem .53rem;
  background: #fff;
}
.analysis > p {
  font-size: .35rem;
  color: #333;
  line-height: .53rem;
}
.analysis > p:first-of-type {
  padding-bottom: .27rem;
}
.analysis .echart {
  height: 4.64rem;
}
.analysis .echart + p {
  padding-top: .27rem;
}
.analysis > ul {

}
.analysis > ul > li {
  padding-top: .43rem;
}
.analysis > ul > li > span {
  display: inline-block;
  padding: .16rem .59rem;
  color: #fff;
  background: #FF9F48;
  border-radius: 8px;
  margin-bottom: .32rem;
}
.analysis > ul > li > p {
  font-size: .35rem;
  color: #333;
  line-height: .53rem;
}
.analysis .threaten {
  height: 5.07rem;
  background: #999;
  margin: .53rem 0 1.09rem;
}
.analysis > p:last-of-type {
  font-size: .43rem;
  color: #333;
}
.analysis > p:last-of-type > span {
  font-size: .43rem;
  color: #FF9F48;
}
